:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-color: #FFFFFF;
    --black-color: #000000; 
    --shade-color: #2F303A;
    --nav-color: rgba(255, 255, 255, 0.6);

}
body { 
    color: var(--primary-text-color);
    background-color: #F5F5F5;
    font-family: Roboto, sans-serif;
     letter-spacing: 0.03em;
}

.list { 
    list-style: none;
}

/*logo*/

.logo { 
    color: var(--black-color);
    font-family: Raleway,cursive;
    font-size: 26px;
    font-weight: 1.2;
    text-decoration: none;
}

.logo:hover {
    color: var(--accent-color);
}

.logo-blue {
    color: var(--accent-color);
    font-family: Raleway, cursive 

}
.logo-blue:hover {
    color:  var(--black-color);
}

/*site nav*/

.site-nav .link { 
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;

}
.site-nav .link:hover, 
.site-nav .link:focus { 
    color: var(--accent-color);
}

.site-nav .link.current { 
    color: var(--accent-color);
} 

/*site-contacts*/
.site-contacts .link-contacts { 
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-contacts .link-contacts:hover,
.site-contacts .link-contacts:focus { 
    color: var(--accent-color);
}

/*hero*/
.hero-title { 
    color: var(--hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    background-color:var(--shade-color);
}
   
/*botton*/

.botton {
    color: var(--hero-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;

}
/*section*/

.section-title  { 
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

/*features*/

.features .title { 
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

/* our team*/

.team .team-names {
    color:var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
}

/*footer*/

.logo-white {
    color: var(--hero-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    background-color: var(--shade-color);
    text-decoration: none;
}

.logo-white:hover {
    color: var(--accent-color);
}

.nav-contacts .nav-lists {
    color: var(--hero-color);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    background-color: var(--shade-color);
}
.nav-contacts .nav-lists:hover,
.nav-contacts .nav-lists:focus {
    color: var(--accent-color);
}

.nav-contacts .nav-titles {
    color: var(--nav-color);
    font-size: 14px;
    line-height: 1.7;
    background-color: var(--shade-color);
    text-decoration: none;
   
}
.nav-contacts .nav-titles:hover,
.nav-contacts .nav-titles:focus  {
    color: var(--accent-color);
}
